:root {
    --main: #0c4b8e;
    --dark: #072d57;
    --white: #fff;
    --text: #1d2b3a;
}

/* FULL HEIGHT PAGE */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: #f5f7fa;
    font-family: Segoe UI, sans-serif;
    color: var(--text);
}

/* ======================
TOPBAR
====================== */
.topbar {
    height: 65px;
    background: linear-gradient(90deg, var(--dark), var(--main));
    border-bottom: 4px solid #f4ab00;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .12);
    border-bottom: 4px solid #f4ab00;
}

.topbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.topbar img {
    width: 48px;
    height: 30px;
    object-fit: contain;
    border-radius: 0;
    background: #fff;
    padding: 4px 6px;
    border: 1px solid rgba(255, 255, 255, .25);
}

.brand-title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

.brand-sub {
    margin: 0;
    font-size: 11px;
    opacity: .85;
}


/* ======================
SIDEBAR
====================== */
.sidebar {
    position: fixed;
    top: 65px;
    left: 0;
    bottom: 0;
    width: 255px;
    background: #fff;
    border-right: 1px solid #e8edf3;
    overflow-y: auto;
    transition: .3s;
    z-index: 1040;
}

.sidebar a {
    display: block;
    padding: 14px 20px;
    color: #334;
    text-decoration: none;
    border-left: 4px solid transparent;
}

.sidebar a:hover {
    background: #f0f6ff;
    color: var(--main);
    border-left: 4px solid var(--main);
}

.sidebar a i {
    width: 24px;
}

.menu-title {
    padding: 14px 20px 6px;
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    font-weight: 600;
}

/* ======================
PAGE WRAPPER
====================== */
.page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* ======================
CONTENT
====================== */
.main-content {
    flex: 1;
    margin-top: 65px;
    margin-left: 255px;
    padding: 25px;
}

/* ======================
FOOTER FIXED BOTTOM
====================== */
.footer {
    margin-left: 255px;
    background: #fff;
    border-top: 1px solid #eee;
    text-align: center;
    padding: 14px;
    font-size: 14px;
}

/* ======================
CARD
====================== */
.card {
    border: none;
    border-radius: 14px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .06);
}

/* MOBILE */
.menu-toggle {
    display: none;
    font-size: 22px;
    cursor: pointer;
}

@media(max-width:991px) {

    .menu-toggle {
        display: block;
        color: #fff;
    }

    .sidebar {
        left: -260px;
    }

    .sidebar.show {
        left: 0;
    }

    .main-content,
    .footer {
        margin-left: 0;
    }

    .brand-sub {
        display: none;
    }
}