{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="row d-flex justify-content-center ">
    <div class="col-sm-12">
        <div class="border-info shadow-lg bg-white">
            <div class="card-body">
                <h2>{{ legend|upper }}</h2>
                <hr />
                <div class="row pt-2">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="card-body">
                                <div class="card-header bg-card pb-2 d-flex justify-content-between">
                                    <div class="row flex-row">
                                        <h5 class="text-light"> {{ single_agenda.title }}</h5>
                                    </div>
                                </div>
                                <hr>
                                <section id='no-more-tables'>
                                    <table class="table table-sm" id="example" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>NU.</th>
                                                <th>TITLE</th>
                                                <th>START TIME</th>
                                                <th>END TIME</th>
                                                <th>LOCATION</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for obj in list_events %}
                                            <tr>
                                                <td data-title="Nu.">{{ forloop.counter }}</td>
                                                <td data-title="ID Projetu">{{ obj.title }}</td>
                                                <td data-title="Naran Projetu">{{ obj.start_time }}</td>
                                                <td data-title="Purcentu">{{ obj.end_time }} </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </section>
                            </div> <!--end card-body-->
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->

    {% endblock %}
    {% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    {% endblock %}