{% load static %}
<header class="site-header fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-card">
        <a class="navbar-brand ps-2" href="{%url 'home' %}">
            ADN,IP - PROJECT AGENDA </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>




        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">

                {% if user.groups.all.0.name == 'gp_dei' %}

                <!-- =============================== Start Request Agenda ===============================-->
                {% if pending_request.count != 0 %}
                <li class="nav-item"><a class="nav-link" href="{% url 'requestedagenda_read' %}">
                        <i class='fa fa-envelope' style='font-size:20px; color:rgb(255, 187, 0)'></i>
                        {% if pending_request.count != 0 %}
                        <span class="ag">{{ pending_request.count }}</span>
                        {% endif %}
                    </a>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="#">
                        <i class='fa fa-envelope' style='font-size:20px; color:rgb(255, 187, 0)'></i>
                    </a>
                </li>
                {% endif %}
                {% endif %}

                <!-- =============================== Start Notification ===============================-->
                {% if pending_upcoming.count != 0 %}
                <li class="nav-item"><a class="nav-link" href="{% url 'upcomingAgenda_read' %}">
                        <i class='fa fa-bell' style='font-size:20px; color:rgb(255, 187, 0)'></i>
                        {% if pending_upcoming.count != 0 %}
                        <span class="ag">{{ pending_upcoming.count }}</span>
                        {% endif %}
                    </a>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="#">
                        <i class='fa fa-bell' style='font-size:20px; color:rgb(255, 187, 0)'></i>
                    </a>
                </li>
                {% endif %}


                <!-- =============================== End Notification ===============================-->

                <!-- ========================== Start Darshboard ===============================-->
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">DASHBOARD <i
                            class="fa fa-home"></i></a>
                </li>
                <!-- ========================= End Darshboard =============================-->

                <!-- ========================== Start Report ===============================-->
                <li class="nav-item"><a class="nav-link" href="#">REPORT </a>
                </li>
                <!-- ========================= End Darshboard =============================-->


                <!-- ========================== Start Admin Navigation ===============================-->
                {% if user.groups.all.0.name == 'admin' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">INSTITUTION</a>
                    <div class="dropdown-menu" aria-labelledby="profile">

                        <a class="dropdown-item" href="{% url 'institution_add' %}"><i class="fa fa-plus"
                                aria-hidden="true"></i> Create
                            Intitution
                        </a>
                        <a class="dropdown-item" href="{% url 'institution_list' %}"><i class="fa fa-list "
                                aria-hidden="true"></i> Institution
                            List
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">AGENDA</a>
                    <div class="dropdown-menu" aria-labelledby="profile">

                        <a class="dropdown-item" href="{% url 'categoryagenda_list' %}"><i class="fa fa-plus"
                                aria-hidden="true"></i> Category Agenda
                        </a>


                        <a class="dropdown-item" href="{% url 'agenda_list' %}"><i class="fa fa-list "
                                aria-hidden="true"></i> Agenda List
                        </a>

                        <a class="dropdown-item" href="{% url 'requestedagenda_list' %}"><i class="fa fa-list "
                                aria-hidden="true"></i></i>
                            Request Agenda List</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">INFORMATIVE NOTE</a>
                    <div class="dropdown-menu" aria-labelledby="profile">

                        <a class="dropdown-item" href="{% url 'informative_add' %}"><i class="fa fa-plus"
                                aria-hidden="true"></i>
                            Create Note</a>


                        <a class="dropdown-item" href="{% url 'informative_list' %}"><i class="fa fa-list"
                                aria-hidden="true"></i>
                            Note List</a>


                    </div>
                </li>



                <!-- ========================= End Admin Navigation=============================-->
                {% elif user.groups.all.0.name == 'gp_dei' %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">AGENDA</a>
                    <div class="dropdown-menu" aria-labelledby="profile">
                        <a class="dropdown-item" href="{% url 'agenda_list' %}"><i class="fa fa-list"
                                aria-hidden="true"></i> Agenda List
                        </a>
                        <a class="dropdown-item" href="{% url 'requestedagenda_list' %}"><i class="fa fa-calendar"
                                aria-hidden="true"></i>
                            Request Agenda List</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">INFORMATIVE NOTE</a>
                    <div class="dropdown-menu" aria-labelledby="profile">

                        <a class="dropdown-item" href="{% url 'informative_add' %}"><i class="fa fa-plus"
                                aria-hidden="true"></i>
                            Create Note</a>


                        <a class="dropdown-item" href="{% url 'informative_list' %}"><i class="fa fa-list"
                                aria-hidden="true"></i>
                            Note List</a>


                    </div>
                </li>

                <!-- ========================== Start Adjunto Navigation ===============================-->



                {% elif user.groups.all.0.name == 'gp_adj' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">AGENDA</a>
                    <div class="dropdown-menu" aria-labelledby="profile">
                        <a class="dropdown-item" href="{% url 'agenda_add' %}"><i class="fa fa-plus"
                                aria-hidden="true"></i>
                            Create Agenda</a>
                        <a class="dropdown-item" href="{% url 'agenda_list' %}"><i class="fa fa-list "
                                aria-hidden="true"></i> Agenda List
                        </a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">INFORMATIVE NOTE</a>
                    <div class="dropdown-menu" aria-labelledby="profile">

                        <a class="dropdown-item" href="{% url 'informative_add' %}"><i class="fa fa-plus"
                                aria-hidden="true"></i>
                            Create Note</a>


                        <a class="dropdown-item" href="{% url 'informative_list' %}"><i class="fa fa-list "
                                aria-hidden="true"></i>
                            Note List</a>


                    </div>
                </li>



                {% elif user.groups.all.0.name == 'gp_cord' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">AGENDA</a>
                    <div class="dropdown-menu" aria-labelledby="profile">
                        <a class="dropdown-item" href="{% url 'requestedagenda_list' %}"><i class="fa fa-list "
                                aria-hidden="true"></i>
                            Request Agenda</a>
                    </div>
                </li>






                {% elif user.groups.all.0.name == 'gp_sec' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">INSTITUTION</a>
                    <div class="dropdown-menu" aria-labelledby="profile">

                        <a class="dropdown-item" href="{% url 'institution_add' %}"><i class="fa fa-plus"
                                aria-hidden="true"></i>
                            Create
                            Intitution
                        </a>
                        <a class="dropdown-item" href="{% url 'institution_list' %}"><i class="fa fa-list "
                                aria-hidden="true"></i>
                            Institution
                            List
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">AGENDA</a>
                    <div class="dropdown-menu" aria-labelledby="profile">
                        <a class="dropdown-item" href="{% url 'agenda_add' %}"><i class="fa fa-calendar"
                                aria-hidden="true"></i>
                            Create Agenda</a>
                        <a class="dropdown-item" href="{% url 'agenda_list' %}"><i class="fa fa-list "
                                aria-hidden="true"></i> Agenda
                            List
                        </a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">INFORMATIVE NOTE</a>
                    <div class="dropdown-menu" aria-labelledby="profile">

                        <a class="dropdown-item" href="{% url 'informative_add' %}"><i class="fa fa-plus"
                                aria-hidden="true"></i>
                            Create Note</a>


                        <a class="dropdown-item" href="{% url 'informative_list' %}"><i class="fa fa-list "
                                aria-hidden="true"></i>
                            Note List</a>

                    </div>
                </li>
                {% else %}

                {% endif %}



                <!-- =============================== USER ===============================-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> <i class='fa fa-user-circle'
                            style='font-size:20px'></i> {{ request.user.username|upper }}</a>
                    <div class="dropdown-menu" aria-labelledby="profile">
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#"><i class='fa fa-cog'></i> User
                            Configuration</a>
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
                    </div>
                </li>

            </ul>
        </div>






        {% endif %}
    </nav>

</header>
