{% load static %}

<div class="topbar">

    <div class="topbar-left">

        <span class="menu-toggle" onclick="toggleSidebar()">
            <i class="fa fa-bars"></i>
        </span>

        <img src="{% static 'main/images/favicon.png' %}" alt="logo">

        <div>
            <p class="brand-title">MOP AGENDA</p>
            <p class="brand-sub">Sistema Rejistrasaun Ajenda</p>
        </div>

    </div>


   <!-- RIGHT -->
<div class="topbar-right d-flex align-items-center ">

        <!-- NOTIFICATION -->
        <div class="notification-box gap-2" style="display:flex; align-items:center; overflow:visible;margin-right:20px;">

            <a href="{% url 'agenda_notification_read' %}" title="Notifikasaun Ajenda" style="
                    position:relative;
                    display:inline-flex;
                    float:right;
                    width:10px;
                    height:10px;
                    text-decoration:none;
                    overflow:visible;">

                <!-- BELL -->
                <i class="fa fa-bell" style=" font-size:23px; color:#ffffff;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    width:50%;
                    height:50%;">
                </i>

                {% if notification_count > 0 %}

                    <!-- RED NOTIFICATION CIRCLE -->
                    <span style="
                        position:absolute;
                        top:-14px;
                        right:-10px;

                        width:18px;
                        height:18px;

                        background-color:#dc3545;
                        color:#ffffff;

                        border-radius:50%;

                        display:flex;
                        align-items:center;
                        justify-content:center;

                        font-size:11px;
                        font-weight:700;
                        line-height:1;

                        border:2px solid #ffffff;

                        box-sizing:border-box;
                        z-index:9999;
                    ">
                        {{ notification_count }}
                    </span>

                {% endif %}

            </a>

        </div>


        <!-- USER -->
        <div class="user-box">
            <i class="fa fa-user-circle" style="font-size:18px;"></i>
           <span style="font-size:16px;" >{{ user.username }}</span> 
        </div>

  

</div>

</div>