<div class="sidebar" id="sidebar">

    <div class="menu-title">
        Main Menu
    </div>


    <!-- DASHBOARD -->
    <a href="{% url 'home' %}">
        <i class="fa fa-home"></i>
        Dashboard
    </a>


    <!-- =====================================================
         AJENDA
    ====================================================== -->

    {% with current_url=request.resolver_match.url_name %}

        <a
            href="#agendaSubmenu"
            data-toggle="collapse"
            aria-expanded="
                {% if current_url == 'categoryagenda_list' or current_url == 'categoryagenda_edit' or current_url == 'categoryagenda_delete' or current_url == 'typeagenda_list' or current_url == 'typeagenda_edit' or current_url == 'typeagenda_delete' or current_url == 'agendato_list' or current_url == 'agendato_edit' or current_url == 'agendato_delete' or current_url == 'agenda_delegation_list' or current_url == 'agenda_list' %}
                    true
                {% else %}
                    false
                {% endif %}
            "
            class="
                agenda-menu
                {% if current_url == 'categoryagenda_list' or current_url == 'categoryagenda_edit' or current_url == 'categoryagenda_delete' or current_url == 'typeagenda_list' or current_url == 'typeagenda_edit' or current_url == 'typeagenda_delete' or current_url == 'agenda_delegation_list' or current_url == 'agenda_list' %}
                    active
                {% endif %}
            "
        >

            <i class="fa fa-calendar"></i>

            Ajenda

            <i
                class="fa fa-angle-down agenda-arrow"
                style="float:right; margin-top:4px;"
            ></i>

        </a>


        <!-- SUBMENU -->
        <div
            id="agendaSubmenu"
            class="
                collapse

                {% if current_url == 'categoryagenda_list' or current_url == 'categoryagenda_edit' or current_url == 'categoryagenda_delete' or current_url == 'typeagenda_list' or current_url == 'typeagenda_edit' or current_url == 'typeagenda_delete' or  current_url == 'agenda_delegation_list' or current_url == 'agenda_list' %}
                    show
                {% endif %}
            "
        >


            <!-- KATEGORIA AJENDA -->
            <a
                href="{% url 'categoryagenda_list' %}"
                class="
                    submenu-link

                    {% if current_url == 'categoryagenda_list' or current_url == 'categoryagenda_edit' or current_url == 'categoryagenda_delete' %}
                        active-submenu
                    {% endif %}
                "
            >
                <i class="fa fa-tags"></i>
                Kategoria Ajenda
            </a>


            <!-- TIPU AJENDA -->
            <a
                href="{% url 'typeagenda_list' %}"
                class="
                    submenu-link

                    {% if current_url == 'typeagenda_list' or current_url == 'typeagenda_edit' or current_url == 'typeagenda_delete' %}
                        active-submenu
                    {% endif %}
                "
            >
                <i class="fa fa-list-alt"></i>
                Tipu Ajenda
            </a>

               <!-- LISTA AJENDA -->
            <a
                href="{% url 'agenda_list' %}"
                class="
                    submenu-link

                    {% if current_url == 'agenda_list' %}
                        active-submenu
                    {% endif %}
                "
            >
                <i class="fa fa-list"></i>
                Lista Ajenda
            </a>



        
            <!-- DELEGASAUN AJENDA -->
            <a
                href="{% url 'agenda_delegation_list' %}"
                class="
                    submenu-link

                    {% if current_url == 'agenda_delegation_list' %}
                        active-submenu
                    {% endif %}
                "
            >
                <i class="fa fa-exchange"></i>
                Delegasaun Ajenda
            </a>


         
        </div>

    {% endwith %}


    <!-- =====================================================
         INSTITUISAUN
    ====================================================== -->
    <a href="{% url 'institution_list' %}">
        <i class="fa fa-building"></i>
        Instituisaun
    </a>

    
     <a href="{% url 'agendato_list' %}">
        <i class="fa fa-users"></i>
        Partisipante
    </a>

    <!-- EMAIL RECIPIENT -->
    <a href="{% url 'recipient_list' %}">
        <i class="fa fa-envelope"></i>
        Receptor Email
    </a>


    <!-- REPORT -->
    <a href="{% url 'report_agenda' %}">
        <i class="fa fa-bar-chart"></i>
        Relatoriu
    </a>

</div>