{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row d-flex justify-content-center ">
    <div class="col-sm-12">
        <div class="border-info shadow-lg bg-white">
            <div class="card-body">
                <div class="card-header bg-card pb-2 d-flex justify-content-between">
                    <div class="row flex-row">
                        <h5 class="text-light"><i class='fa fa-comment-alt' style='font-size:30px'></i> COMMENT
                            AGENDA</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="card-body">


                                <!-- COMMENT 1 - END -->


                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-sm-7 col-lg-7 bg-default pb-4">
                                            <p>Agenda</p>
                                            <input type="text" class="mb-3" value="{{single_agenda.title }}" />

                                            {{commentagendaform | crispy}}
                                            {{commentagendaform.media | safe}}


                                            <button type="submit"
                                                class="btn btn-primary pull-right ml-2">Submit</button>

                                            {% if v == "/concluded-agenda/comment/add" %}
                                            <button class="btn btn-danger text-white pull-right">
                                                <a href="{%url 'concludedAgenda_list' %}"
                                                    class="text-white text-decoration-none">Cancel</a></button>
                                            {% elif v == "/canceled-agenda/comment/add" %}
                                            <button class="btn btn-danger text-white pull-right">
                                                <a href="{%url 'canceledAgenda_list' %}"
                                                    class="text-white text-decoration-none">Cancel</a></button>
                                            {% elif v == "/running-agenda/comment/add" %}
                                            <button class="btn btn-danger text-white pull-right">
                                                <a href="{%url 'runningAgenda_list' %}"
                                                    class="text-white text-decoration-none">Cancel</a>
                                            </button>
                                            {% endif %}

                                        </div>
                                    </div>





                                </form>
                            </div> <!--end card-body-->
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->

    {% endblock %}