{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row d-flex justify-content-center ">
    <div class="col-sm-12">
        <div class="border-info shadow-lg bg-white">
            <div class="row">
                <div class="col-md-3" style="background-color:rgb(221, 247, 251)">
                    <div class="row">
                        <div class="card-body">
                            <div class="card-header bg-card pb-2 d-flex justify-content-between">
                                <div class="row flex-row">
                                    <h5 class="text-light"><i class='fa fa-edit' style='font-size:20px'></i> Edit Agenda
                                    </h5>
                                </div>
                            </div>
                            <hr>

                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-12">
                                    {{postponedagendaform | crispy}}
                                    {{postponedagendaform.media | safe}}
                                </div>
                                <div class="col-12 d-flex justify-content-end p-3"
                                    style="background-color:rgb(195, 234, 218)">
                                    <button class="btn btn-danger text-white pull-right mr-2"><a
                                            href="{%url 'upcomingAgenda_list' %}"
                                            class="text-white text-decoration-none">Cancel</a></button>
                                    <button type="submit" class="btn btn-primary">Save</button>

                                </div>



                            </form>

                        </div> <!--end card-body-->
                    </div>
                    <!--end col-->
                </div>

                <div class="col-md-9">
                    <div class="row">
                        <div class="card-body">
                            <div class="card-header bg-card pb-2 d-flex justify-content-between">
                                <div class="row flex-row">
                                    <h5 class="text-light"><i class='fa fa-edit' style='font-size:20px'></i> Agenda
                                        Postponement History </h5>
                                </div>
                            </div>
                            <hr>

                            <section id='no-more-tables' class="pt-3">
                                <table class="table table-bordered table-sm" id="example" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="text-center align-middle">NU.</th>
                                            <th rowspan="2" class="align-middle">AGENDA</th>

                                            <th colspan="2" class="text-center">PREVIOUS</th>
                                            <th colspan="2" class="text-center">POSTPONE</th>
                                            <th colspan="2" class="text-center align-middle">LOCATION</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center align-middle">START TIME</th>
                                            <th class="text-center align-middle">END TIME</th>
                                            <th class="text-center align-middle">START TIME</th>
                                            <th class="text-center align-middle">END TIME</th>
                                            <th class="text-center align-middle">OLD</th>
                                            <th class="text-center align-middle">NEW</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in histori_agenda_list %}
                                        {% if obj.start_time != obj.start_time_new %}
                                        <tr>
                                            <td data-title="Nu." class="text-center">{{ forloop.counter }}</td>
                                            <td data-title="Title">{{ obj.title }}</td>

                                            <td style="font-size:13px;color:rgb(248, 10, 10)">
                                                {{obj.start_time.date|date:"d/m/Y"}}, {{obj.start_time.time}}</td>
                                            <td style="font-size:13px;color:rgb(248, 10, 10)">
                                                {{obj.end_time.date|date:"d/m/Y" }}, {{obj.end_time.time}}</td>
                                            <td style="font-size:14px; color:rgb(60, 198, 5)">
                                                {{obj.start_time_new.date|date:"d/m/Y"}},
                                                {{obj.start_time_new.time}}
                                            </td>
                                            <td style="font-size:14px; color:rgb(60, 198, 5)">
                                                {{obj.end_time_new.date|date:"d/m/Y" }},
                                                {{obj.end_time_new.time}}</td>
                                            <td>{{ obj.location }}</td>
                                            <td>{{ obj.location }}</td>

                                        </tr>
                                        {% endif %}
                                        {% endfor %}


                                    </tbody>
                                </table>
                            </section>
                            <div>
                            </div>
                        </div> <!--end card-body-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->

                <!--end card-body-->
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
<!--end row-->

{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
{% endblock %}