{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="row d-flex justify-content-center ">
  <div class="col-sm-12">
    <div class="border-info shadow-lg bg-white">
      <div class="card-body">
        <h2>{{ legend|upper }}</h2>
        <hr />



        <div class="row">

          <div class="col-md-6 col-lg-4">
            <div class="widget-small border border-primary d-flex justify-content-left p-2">
              <i class="icon fa fa fa-calendar fa-2x pl-2 pr-2 bg-primary"
                style="font-size:38px;color:rgb(255, 255, 255)"></i>
              <div class="pl-2">
                <a href="{%url 'completedAgenda_list' %}">
                  <h6>ALL</h6>
                  <p><b>{{ agenda_count }}</b></p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-2">
            <div class="widget-small border border-info d-flex justify-content-left p-2">
              <i class="icon fa fa fa-calendar fa-2x pl-2 pr-2 bg-info"
                style="font-size:38px;color:rgb(255, 255, 255)"></i>
              <div class="pl-2">
                <a href="{%url 'concludedAgenda_list' %}">
                  <h6>DONE</h6>
                  <p><b>{{ concluded_agenda_count }}</b></p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-2">
            <div class="widget-small border border-danger d-flex justify-content-left p-2">
              <i class="icon fa fa fa-calendar fa-2x pl-2 pr-2 bg-danger"
                style="font-size:38px;color:rgb(255, 255, 255)"></i>
              <div class="pl-2">
                <a href="{%url 'canceledAgenda_list' %}">
                  <h6>CANCELED</h6>
                  <p><b>{{ canceled_agenda_count}}</b></p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="widget-small border border-success d-flex justify-content-left p-2">
              <i class="icon fa fa-calendar fa-2x pl-2 pr-2 bg-success "
                style="font-size:38px;color:rgb(255, 255, 255)"></i>
              <div class="pl-2">
                <a href="{%url 'runningAgenda_list' %}">
                  <h6>RUNNING</h6>
                  <p><b>{{ running_agenda_count }}</b></p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="widget-small border border-warning d-flex justify-content-left p-2">
              <i class="icon fa fa-calendar fa-2x pl-2 pr-2 bg-warning "
                style="font-size:38px;color:rgb(255, 255, 255)"></i>
              <div class="pl-2">
                <a href="{%url 'upcomingAgenda_list' %}">
                  <h6>UPCOMING</h6>
                  <p><b>{{ upcoming_agenda_count }}</b></p>
                </a>
              </div>
            </div>
          </div>


          <div class="col-md-12 pt-3">
            <div class="row">
              <div class="card-body">
                <div class="card-header bg-card pb-2 d-flex justify-content-between">
                  <div class="row flex-row">
                    <h5 class="text-light"> <i class="fa fa-calendar-o" style="font-size:30px"></i>
                      RUNNING AGENDA</h5>
                  </div>
                </div>
                <hr>
                <section id='no-more-tables'>
                  <table class="table table-bordered table-sm" id="example" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th class="text-center">NU.</th>
                        <th>AGENDA</th>
                        <th class="text-center">START TIME</th>
                        <th class="text-center">END TIME</th>
                        <th class="text-center">LOCATION</th>
                        <th class='text-center'>OBSERVATION</th>
                        {% if user.is_authenticated %}
                        {% if user.groups.all.0.name != "gp_cord" %}
                        <th class="text-center">COMMENT</th>
                        <th class="text-center" colspan="2">TIME CONTROL</th>
                        {% endif %}{% endif %}

                      </tr>
                    </thead>
                    <tbody>
                      {% for obj in running_agenda %}
                      <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td data-title="Title">
                          <a href="{% url 'runningAgenda_list_detail' title_slug=obj.title_slug %}">
                            {{obj.title }}</a>
                        </td>
                        <td style="text-align:center;">{{obj.start_time|date:"d/m/Y G:i" }}</td>
                        <td style="text-align:center;">{{ obj.end_time|date:"d/m/Y G:i" }}</td>
                        <td class="text-center">{{ obj.location }} </td>


                        {% if obj.observation == "" %}
                        <td class='text-center'><i class="fa fa-square-o"></i>
                        </td>
                        {% else %}
                        <td class='text-center'><i class="fa fa-check-square-o"></i>
                        </td>
                        {% endif %}


                        {% if user.is_authenticated %}
                        {% if user.groups.all.0.name != "gp_cord" %}
                        <td data-title="Title" style="text-align:center;">
                          {% if obj.observation == "" %}
                          <button type="button" class="btn btn-primary btn-sm ml-2">
                            <span class="fa fa-plus"></span><a class="text-white"
                              href="{% url 'commentRuAgenda_add' pk=obj.pk %}" role="button">
                              Add</a></button>
                          {% else %}
                          <button type="button" class="btn btn-warning btn-sm ml-2">
                            <a href="{% url 'commentRuAgenda_add' pk=obj.pk %}" data-toggle="tooltip" title="Edit"><i
                                class='fa fa-edit' style='font-size:20px'></i>
                              Edit</a>
                          </button>
                        </td>
                        {% endif %}

                        <td class="text-center" style="text-align:center;">
                          <form action="{% url 'runningagenda_change' pk=obj.pk %}" method="POST"
                            enctype="multipart/form-data" id="indexForm" class="form-horizontal form-bordered">
                            {% csrf_token %}

                            <div class="row d-flex justify-content-center">
                              <div class="col-sm-6">
                                <input type="text" name="minute" value="{{obj.end_time|date:'d/m/Y G:i:s'}}"
                                  class="form-control form-control-sm" />
                              </div>
                              <div class="col-sm-2">
                                <button type="submit" class="btn border border-primary bg-light btn-sm">Insert</button>
                              </div>
                            </div>
                          </form>
                        </td>

                        <td data-title="Title" style="text-align:center;">
                          <button type="button" class="btn btn-danger btn-sm ml-2">
                            <span class="fa fa-close"></span><a class="text-white"
                              href="{% url 'runningagenda_stop' pk=obj.pk %}" role="button">
                              Stop</a></button>
                        </td>
                        {% endif %}
                        {% endif %}



                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </section>
              </div> <!--end card-body-->
            </div>
            <!--end col-->
          </div>


          <!--end row-->
        </div>
        <!--end card-body-->
      </div>
      <!--end card-->
    </div>
    <!--end col-->
  </div>
  <!--end row-->

  {% endblock %}
  {% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
      $('#example').DataTable();
    });
  </script>
  {% endblock %}