{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="row d-flex justify-content-center ">
  <div class="col-sm-12">
    <div class="border-info shadow-lg bg-white">
      <div class="card-body">
        <hr />

        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="widget-small border border-primary d-flex justify-content-left p-2">
              <i class="icon fa fa fa-calendar fa-2x pl-2 pr-2 bg-primary"
                style="font-size:38px;color:rgb(255, 255, 255)"></i>
              <div class="pl-2">
                <a href="{%url 'completedAgenda_list' %}">
                  <h6>ALL</h6>
                  <p><b>{{ agenda_count }}</b></p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-2">
            <div class="widget-small border border-info d-flex justify-content-left p-2">
              <i class="icon fa fa fa-calendar fa-2x pl-2 pr-2 bg-info"
                style="font-size:38px;color:rgb(255, 255, 255)"></i>
              <div class="pl-2">
                <a href="{%url 'concludedAgenda_list' %}">
                  <h6>DONE</h6>
                  <p><b>{{ concluded_agenda_count }}</b></p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-2">
            <div class="widget-small border border-danger d-flex justify-content-left p-2">
              <i class="icon fa fa fa-calendar fa-2x pl-2 pr-2 bg-danger"
                style="font-size:38px;color:rgb(255, 255, 255)"></i>
              <div class="pl-2">
                <a href="{%url 'canceledAgenda_list' %}">
                  <h6>CANCELED</h6>
                  <p><b>{{ canceled_agenda_count}}</b></p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="widget-small border border-success d-flex justify-content-left p-2">
              <i class="icon fa fa-calendar fa-2x pl-2 pr-2 bg-success "
                style="font-size:38px;color:rgb(255, 255, 255)"></i>
              <div class="pl-2">
                <a href="{%url 'runningAgenda_list' %}">
                  <h6>RUNNING</h6>
                  <p><b>{{ running_agenda_count }}</b></p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="widget-small border border-warning d-flex justify-content-left p-2">
              <i class="icon fa fa-calendar fa-2x pl-2 pr-2 bg-warning "
                style="font-size:38px;color:rgb(255, 255, 255)"></i>
              <div class="pl-2">
                <a href="{%url 'upcomingAgenda_list' %}">
                  <h6>UPCOMING</h6>
                  <p><b>{{ upcoming_agenda_count }}</b></p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-12 pt-3">
            <div class="row">
              <div class="card-body">
                <!-- <div class="row flex-row-reverse mr-1 mt-1 mb-2">
                  <div class="btn-group">
                    <button type="button" class="btn btn-light border border-info"><span class="fa fa-print">
                        Print</button>
                    <button type="button" class="btn btn-light border border-info"><span class="fa fa-file-excel-o">
                        Exel</button>
                    <button type="button" class="btn btn-light border border-info"><span
                        class="fa fa-file-pdf-o"></span> PDF</button>
                  </div>
                </div> -->
                <div class="card-header bg-card pb-2 d-flex justify-content-between">
                  <div class="row flex-row">
                    <h5 class="text-light"> <i class="fa fa-calendar-plus-o" style="font-size:30px"></i> UPCOMING AGENDA
                    </h5>
                  </div>


                </div>
                <hr>
                <section id='no-more-tables'>
                  <table class="table table-bordered table-sm" id="example" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th class="text-center">NU.</th>
                        <th>AGENDA</th>
                        <th class="text-center">CATEGORY AGENDA</th>
                        <th class="text-center">AGENDA SET</th>
                        <th class="text-center">START TIME</th>
                        <th class="text-center">END TIME</th>
                        <th class="text-center">LOCATION</th>
                        {% if user.is_authenticated %}
                        {% if user.groups.all.0.name != "gp_cord" %}
                        <th class="text-center">ACTION</th>
                        {% endif %}
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for obj in upcoming_agenda %}
                      <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td data-title="Title">
                          <a href="{% url 'upcomingAgenda_list_detail' title_slug=obj.title_slug %}" class="float-left">
                            {{obj.title }}</a>
                        </td>
                        <td style="text-align:center;">{{obj.catagenda}}</td>
                        <td style="text-align:center;">{{obj.institution}}</td>
                        <td style="text-align:center;">{{obj.start_time|date:"d/m/Y G:i" }}</td>
                        <td style="text-align:center;">{{ obj.end_time|date:"d/m/Y G:i" }}</td>
                        <td class="text-justify">{{ obj.location }} </td>
                        {% if user.is_authenticated %}
                        {% if user.groups.all.0.name != "gp_cord" %}
                        <td class="text-center">
                          <a href="{% url 'postponeAgenda_list' pk=obj.id %}" data-toggle="tooltip" title="Postpone"
                            class="btn btn-sm btn-warning"><i class='fa fa-edit' style='font-size:20px'></i>Postpone</a>
                          |
                          <a href="{% url 'upcomingAgenda_cancel' pk=obj.id %}" data-toggle="tooltip" title="Cancel"
                            class="btn btn-sm btn-danger" onclick="return confirm(' Are you ready to cancel?')"><i
                              class="fa fa-window-close" style='font-size:20px' aria-hidden="true"></i> Cancel</a>
                        </td>
                        {% endif %}
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </section>
              </div> <!--end card-body-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end card-body-->
      </div>
      <!--end card-->
    </div>
    <!--end col-->
  </div>
  <!--end row-->

  {% endblock %}

  {% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
      $(' #example').DataTable();
    }); </script>
  {% endblock %}
