{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="row d-flex justify-content-center ">
  <div class="col-sm-12">
    <div class="border-info shadow-lg bg-white">
      <div class="card-body">
        <h2>{{ legend|upper }}</h2>
        <hr />
        <div class="row pt-4">
          <div class="col-md-6 col-lg-2 pb-5">
            <div class="list-group">
              <p href="#" class="list-group-item list-group-item-action bg-card" aria-current="true">
                Events in Year
              </p>
              {% for yrn in all_year %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#">{{yrn.year}}</a>
                <span class="badge pb-0">
                  {% for cny in count_event_in_year %}
                  {% if cny.start_time__year == yrn.year%}
                  {{cny.count}}
                  {% endif %}
                  {% endfor %}
                </span>

              </li>
              {% endfor %}
            </div>
          </div>

          <div class="col-md-6 col-lg-10">
            <div class="col-sm-12 pb-3">
              <div class="card border-info shadow-lg rounded">
                <div class="card-header bg-card"> <i class="icon fa fa-calendar"> Agenda </i></a>
                </div>
                <div class="card-body">
                  <div class="row">

                    <div class="col-md-6 col-lg-3">
                      <div class="widget-small border border-info d-flex justify-content-left p-2">
                        <i class="icon fa fa fa-calendar fa-2x pl-2 pr-2 bg-info"
                          style="font-size:38px;color:rgb(255, 255, 255)"></i>
                        <div class="pl-2">
                          <a href="{%url 'completed_view' %}">
                            <h6>Concluded</h6>
                            <p><b>{{ completed_agenda_count }}</b></p>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                      <div class="widget-small border border-danger d-flex justify-content-left p-2">
                        <i class="icon fa fa fa-calendar fa-2x pl-2 pr-2 bg-danger"
                          style="font-size:38px;color:rgb(255, 255, 255)"></i>
                        <div class="pl-2">
                          <a href="{%url 'canceled_view' %}">
                            <h6>Canceled</h6>
                            <p><b>{{ canceled_agenda_count}}</b></p>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <div class="widget-small border border-success d-flex justify-content-left p-2">
                        <i class="icon fa fa-calendar fa-2x pl-2 pr-2 bg-success "
                          style="font-size:38px;color:rgb(255, 255, 255)"></i>
                        <div class="pl-2">
                          <a href="{%url 'running_view' %}">
                            <h6>Running</h6>
                            <p><b>{{ running_agenda_count }}</b></p>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <div class="widget-small border border-warning d-flex justify-content-left p-2">
                        <i class="icon fa fa-calendar fa-2x pl-2 pr-2 bg-warning "
                          style="font-size:38px;color:rgb(255, 255, 255)"></i>
                        <div class="pl-2">
                          <a href="{%url 'upcoming_view' %}">
                            <h6>Upcoming</h6>
                            <p><b>{{ upcoming_agenda_count }}</b></p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div> <!--end card-body-->
                </div>
              </div> <!--end card-->
            </div> <!--end col-->


            <div class="col-sm-12">
              <div class="card border-info shadow-lg rounded">
                <div class="card-header bg-card"> <i class="icon fa fa-calendar"> Informative Note </i></a>
                </div>
                <div class="card-body">
                  <div class="row">

                    <div class="col-md-6 col-lg-4">
                      <div class="widget-small border border-info d-flex justify-content-left p-2">
                        <i class="icon fa fa fa-calendar fa-2x pl-2 pr-2 bg-info"
                          style="font-size:38px;color:rgb(255, 255, 255)"></i>
                        <div class="pl-2">
                          <a href="{%url 'completed_view' %}">
                            <h6>Concluded</h6>
                            <p><b>{{ completed_informative_count }}</b></p>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                      <div class="widget-small border border-danger d-flex justify-content-left p-2">
                        <i class="icon fa fa fa-calendar fa-2x pl-2 pr-2 bg-danger"
                          style="font-size:38px;color:rgb(255, 255, 255)"></i>
                        <div class="pl-2">
                          <a href="{%url 'canceled_view' %}">
                            <h6>Canceled</h6>
                            <p><b>{{ canceled_informative_count}}</b></p>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                      <div class="widget-small border border-warning d-flex justify-content-left p-2">
                        <i class="icon fa fa-calendar fa-2x pl-2 pr-2 bg-warning "
                          style="font-size:38px;color:rgb(255, 255, 255)"></i>
                        <div class="pl-2">
                          <a href="{%url 'upcoming_view' %}">
                            <h6>Upcoming</h6>
                            <p><b>{{ upcoming_informative_count }}</b></p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div> <!--end card-body-->
                </div>
              </div> <!--end card-->
            </div> <!--end col-->

          </div>

        </div>

        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end card-body-->
  </div>
  <!--end card-->
</div>
<!--end col-->
</div>
<!--end row-->

{% endblock %}